

#sign-in-form {
    width: 90%;
    max-width: 450px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 40px 20px;
    margin-top: 20px;
    background-color: rgba(255,255,255,0.7);
}

#sign-in-submit.disabled {
    cursor: not-allowed;
}