* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

a {
  text-decoration: none!important;
}

body {
  height: 100%;  
  font-family: 'Quicksand', sans-serif!important;
}

.form-container {
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}